@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --organe:#ff7800;
    --black: #0b073a;
    --gray: #666;
    --green: rgba(2, 136, 2, 0.918);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
    --border-hover: #ff7800;
    --colorred: #d31d10;
    --white: #fff;
    --font-size: 18px;
    --topbg: rgb(20, 40, 77);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
.topnav{
    background: var(--topbg);
    position: relative;
    margin-top: -10px;
    padding: 15px;
}
.topnav > .text-list{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
   padding: 10px;
   margin-top: 5px;
    /* overflow: hidden;   */
}
.toggle-icon{
    display: none;
}
.toggle-icon > i{
    font-size: 28px;
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    color: #fff;
}
.topnav > .text-list > li{
    position: absolute;
    color: var(--white);
    display: none;
    padding-top: 15px;
    font-size: 14px;
    animation: txtIn 2s ease;
}
.text-list > li > i{
    font-size: 14px;
    padding-left: 8px;
}
@keyframes txtIn{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.topnav > .text-list > li.active{
    display: block;
}
.topnav > .text-list > li.active-out{
    animation: txtOut 2s ease;
}
@keyframes txtOut{
    0%{
        opacity: 0;
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
        opacity: 1;
    }
}
/* body */
.container{
    display: flex;
    flex-direction: row;
}
.sidenav{
    width: 100px;
    height: 100vh;
    background: var(--white);
    box-shadow: var(--box-shadow);
    /* padding: 20px; */
    position: sticky;
    top: 0;
    bottom: 0;
}
.sidenav > ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 0;
}
.sidenav > ul > li > a{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.item-link{
    margin-top: 3px;
    line-height: 1.8;
}
.item-link:first-child{
    padding-top: 10px;
    margin-top: 10px;
}
.sidenav > ul > li:nth-child(2) a{
    color: #f01;
}

.sidenav > ul > li > a > span{
    font-size: 12px;
    padding-top: 2px;
}
.sidenav > ul > li > a >i{
    font-size: 26px;
    line-height: 1;
    color: var(--black);
    margin-left: 0;
}
.sidenav > ul > li > a i:nth-of-type(2){
    color: #f01;
}
.sidenav > ul > li > a:hover{
    color: #25579d;
}
.sidenav > ul > li > a:active,.sidenav > 
ul > li > a:link{
    color: var(--colorred);
}
/* main content */
.main-container{
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 20px;
}
nav > .search-bar a{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}
nav > .search-bar{
    display: flex;
    margin-left: 20px;
}
nav > .search-bar > .input-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > .search-bar > .input-group input{
    width: 300px;
    margin-left: 30px;
    border: 1px solid #25579d;
    border-radius: 20px;
    padding: 10px 30px;
    outline: none;
}
nav > .search-bar > .input-group i{
    position: absolute;
    display: flex;
    margin-left: 270px;
    background: var(--black);
    padding: 9px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 14px;
}
/* buttons */
.btn-shop{
    display: flex;
    margin-right: 60px;
    align-items: center;
}
.btn-shop > a{
    margin: 0px 20px;
}
.btn-shop > a:first-child{
    background: #f3f5f6;
    color: var(--black);
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 5px;
    font-weight: bold;
}
.btn-shop > a:first-child:hover{
    background: #eee;
}
.btn-shop > a:nth-child(2){
    background: #0098ff;
    padding: 3px 14px;
    width: 110px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--white);
    border-radius: 5px;
}
.btn-shop > a:nth-child(2):hover{
    background: #25579d;
    text-align: center;
}
.btn-shop > a:nth-child(3){
    padding: 10px;
    background: #f3f5f6;
    font-size: 20px;
    border-radius: 50%;
    color: var(--black);
}
.btn-shop > a:nth-child(3):hover,.btn-shop > a:last-child:hover{
    background: #eee;
}
.btn-shop > a:last-child{
    padding: 10px;
    background: #f3f5f6;
    font-size: 18px;
    border-radius: 50%;
    color: var(--black);
    display: flex;
    justify-content: center;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.list > a{
    color: #000000;
    margin: 0px 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 19px;
    padding-top: 5px;
}
.list > a.shop{
    border-bottom: #25579d 5px solid;
    color: #25579d;
}
/* .list > a.explore{
    border-bottom: #25579d 5px solid;
} */
.wel-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-left: 40px;
    line-height: 2;
}
.wel-info > h3{
    text-transform: capitalize;
    color: var(--white);
    font-size: 23px;
}
.bg-img > .wel-info > h2{
    font-size: 29px;
    font-weight: bold;
    color: var(--white);
}
.bg-img >.wel-info > p{
    color: var(--white);
    font-size: 18px;
}
.wel-info > .shop-now{
    margin-top: 10px;
    background: var(--black);
    padding: 12px 18px;
    border-radius: 10px;
    color: var(--white);
    width: 120px;
    outline: none;
    border: none;
}
.about-de-shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.about-de-shop h1{
    margin: 40px 0 0 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    letter-spacing: 0;
}
.about-de-shop > p{
    font-size: 16px;
    color: black;
    padding-top: 10px;
}
.about-de-shop > p > a{
    color: #25579d;
}
.about-de-shop > span{
    margin-top: 40px;
    width: 150px;
    border: 1px solid;
    border-color: var(--black);
    background: var(--black);
}
.about-de-shop > h4{
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

/* grid */
.row{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}
.row > .products{
    margin: 10px;
}
.products > img{
    width: 100%;
    height: 240px;
}
.products > p{
    text-align: center;
    font-size: 14px;
    color: var(--black);
}
.wrapper{
    width: 90%;
    margin: 10px auto;
}
.bg-2{
    line-height: 2;
    padding: 20px;
}
.bg-2 > h1{
    margin-top: 50px;
    color: var(--white);
}
.bg-2 > p{
    color: var(--white);
}
.bg-2 > button{
    margin-top: 40px;
    padding: 10px 20px;
    outline: none;
    border: none;
    background: #25579d;
    border: 2px solid #25579d;
    border-radius: 3px;
    color: var(--white);
    text-transform: uppercase;
}
.bg-2 > button:hover{
    background: #0057e2;
    border: 2px solid #0057e2;
}

/* footer section */
.footer{
    background-color: #14284d;
    padding: 16px;
    width: 100%;
    height: 100%;
    height: auto;
    bottom: 0;
}
.footer > .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading > h1{
    color: var(--white);
    font-size: 40px;
}
.heading > p{
    color: var(--white);
    margin-bottom: 20px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 40px auto;
    align-items: center;
    justify-content: space-between;
}
.medias{
    display: flex;
    margin-right: 30px;
}
.quick-links {
    width: 100%;
    margin: 0px 10px;
    line-height: 1.5;
}
.quick-links >ul > li{
    color: var(--white);
    font-size: 14px;
    text-align: justify;
}
.quick-links >ul > li > a{
    color: var(--white);
    line-height: 2;
    font-size: 14px;
    margin-left: 0;
}
.quick-links >ul > li > a:hover{
    color: #dd600d;
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.select > select{
    width: 280px;
    padding: 8px 20px;
    outline: none;
}
.select > select:hover{
    background: #0057e2;
    color: var(--white);
    border: none;
}
.social-media{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
}
.medias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}
.medias > i{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 20px;
}
.medias > i:hover{
    color: #d85205;
    border: 2px solid #d85205;
}
.btn-small{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.btn-small > a img{
    width: 110px;
    height: 38px;
    padding-left: 6px;
}
.copyright{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright > p{
    font-size: 12px;
}
.copyright > .agree{
    display: flex;
}
.agree > a{
    margin-left: 0;
    padding-left: 5px;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}
.agree > a:hover{
    color: #dd600d;
}
/* featured creators */
.featured-creators {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;    
}
.border-hr{
    border: 1px solid #0b073a;
    background-color: #0b073a;
    width: 100px;
    display: flex;
    margin-top: 30px;
}
.border-form{
    border: 2px solid #e3e3e6;
    background-color: #e3e3e6;
    border-radius: 10px;
    width: 100px;
    display: flex;
    margin-top: 20px;
}
.featured-creators > h1{
    text-align: center;
    font-size: 25px;
    margin: 15px 0 30px;
    font-weight: 300;
}
.featured-creators > .parent-creator{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 30px;
}
.parent-creator > .features{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    transition: .5s ease-in;
    font-size: 15px;
}
.features:hover{
    transition: .8s ease-in-out;
    opacity: 0.6;
    color: #d31d10;
    zoom: 1;
}
.featured-img{
    width: 100%;
    position: relative;
}
.img-bck{
    position: relative;
    width: 100%;
}
.img-bck > img{
    width: 100%;
    height: 250px;
}
.featured-img > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #fff solid 2px;
    position: absolute;
    margin-top: 30px;
    background: transparent;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -10px);
}

/* licensed  section*/
.licensed{
    width: 90%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.licensed > h1{
    margin-top: 20px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 300;
}
.licensed-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
}
.licensed-container > .inner-license{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 10px;

}
.inner-license > img{
    width: 100%;
    height: 300px;
}
.inner-license > h5{
    margin-top: 10px;
}
.inner-license:hover{
    color: #d31d10;
}
/* new product */
.new-products{
    width: 90%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem,1fr));
    grid-gap: 1.4rem;
    width: 100%;
    margin-top: 20px;
}
.new-products > h1{
    font-weight: 300;
    margin-top: 10px;
}
.product-container > .product{
    width: 100%;
}
.product-container > .product:hover{
    color: #d31d10;
}
.product > img{
    width: 100%;
    height: 250px;
    opacity: 0.9;
}
/* container-wrap */
.container-wrap{
    width: 90%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-on-deshop{
    display: flex;
    flex-direction: row;
}
.imgtext {
    width: 100%;
    text-align: justify;
    padding: 20px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}
.imgtext > h2,h3,p,a{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1;
    line-height: 2;
}
.imgtext >p{
    margin: 0px 19px;
    margin-bottom: 30px;
    font-size: 16px;
}
.imgtext > h2{
    font-size: 24px;
    font-weight: 300;
    margin: 0px 20px;
}
.imgtext > h3{
    font-size: 30px;
    letter-spacing: 3;
    font-weight: 400;
    margin: 0px 20px;
}
.imgtext:first-child a{
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
    margin-left: 20px;
}
.shop-now{
    background: #25579d;
    text-align: center;
    font-size: 14px;
    width: 130px;
    margin-left: 20px;
    padding: 8px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
}

.show-all{
   color: #25579d; 
}
.show-all:hover{
    color: #d31d10;
}
.sw-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 1rem;
    margin-top: 40px;
}
.sw-img > img{
    width: 100%;
    height: 180px;
    background: transparent;
    animation: AnimateImg 5s .8s linear infinite;
}
.sw-img > img:nth-child(2){
    height: 140px;
    margin-top: 40px; 
}
@keyframes AnimateImg{
    0%{
        /* background: #d31d10; */
        opacity: 0.4;
        transform: translateY(-20px);
    }
    100%{
        background: none;
        opacity: 1;
        transform: translateY(0);
    }
}
.inspirations {
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inspirations > span,h1{
    text-align: center;
    line-height: 4;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 5px;
}
.inspirations-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
}
.inspiration{
    width: 100%;
    height: 100%;
    text-align: justify;
    line-height: 2.5 ;
}
.inspiration > img{
    width: 100%;
    height: 300px;
}
.inspiration >h2{
    font-weight: 400;
    font-size: 28px;
    white-space: 2px;
    letter-spacing: 2px;
    margin-left: 30px;
}
.inspiration > h3{
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    margin-left: 30px;
}
.inspiration > p,a{
    color: #000000;
    font-weight: 300;
    margin-left: 30px;
    line-height: 3;
    font-size: 15px;
}
.inspiration > a{
    color: #000000;
    font-weight: 400;
    margin-left: 30px;
    line-height: 3;
    font-size: 15px;
}
.inspiration> a.read-more{
    font-size: 14px;
    font-weight: 400;
    background: #25579d;
    padding: 10px 20px;
    margin-left: 30px;
    line-height: 10;
    color: #fff;
}
/* swiper */
.headline{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    margin-top: 20px;
}
/* Gallery */
.gallery{
    width: 90%;
    margin: 10px auto;
}
.gallery > a i{
    padding-left: 2px;
    font-size: 9px;
}
.gallery > a{
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    color: #25579d;
    margin: 20px 0;
}
.gallery > a:hover{
    color: #d31d10;
}
.gallery-inner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    margin-top: 10px;
}
.gallery-inner > img{
    width: 100%;
    height: 160px;
    cursor: pointer;
}
.gallery > p{
    color: #0b073a;
    float: right;
    padding-top: 10px;
    font-size: 14px;
}
/* enjoy-office */
.enjoy-office{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enjoy-office > h1{
    font-weight: 300;
    font-size: 30px;
}
.enjoy-office > .offices{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.offices > .ffe{
    width: 100%;
    text-align: justify;
}
.offices > .ffe> h1{
    text-align: justify;
    margin-left: 30px;
    line-height: 1.4;
    font-size: 36px;
}
.offices > .ffe> p{
    color: #000;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}
.offices > .ffe img{
    width: 100%;
}
.ffe> a{
    background: #25579d;
    width: 220px!important;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px; 
}
.ffe> a:hover{
    background: #1863cc;
}
/* Our Community */
.community{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-gap: 1.5rem;
    width: 100%;
}
.col-6{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.col-6 > img{
    width: 100%;
    height: 300px;
}
.col-6 > h2{
    color: #0b073a;
    text-align: center;
    font-weight: 300;
    font-size: 23px;
    padding: 8px 10px;
    letter-spacing: 2px;
}
.col-6 > p{
    color: #0b073a;
    text-align: center;
    font-size: 13px;
    padding: 0px 10px;
}
.col-6 > a.outline{
    width: 140px;
    outline: 2px #25579d solid;
    text-align: center;
    margin-top: 25px;
    padding: 0;
    color: #25579d;
    text-transform: uppercase;
    font-weight: bold;
}
.col-6 > a.outline:hover{
    background: #0098ff;
    color: #fff;
    outline: none;
    border: none;
}
/* sign up form part */
.sub-form{
    width: 90%;
    margin: 0px auto 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sub-form > #form{
    display: flex;
    grid-gap: 1.5rem;
}
#form > .form-group input[type="email"]{
    width: 320px;
    padding: 8px;
    border: #eee 1px solid;
    border-radius: 2px;
}
.form-group input[placeholder]{
    outline: #25579d 1px solid;
    border-radius: 5px;
}
.sub-form > #form > input{
    padding: 7px 14px;
    background: none;
    border: #25579d 2px solid;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    color: #25579d;
}
.sub-form > #form > input:hover{
    background:  #25579d;
    border: none;
    color: #fff;
    padding: 7px 14px;
}
/* sliders container */
.sliders-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    grid-gap: 1.3rem;
}
.sliders{
    width: 100%;
    height: auto;
}
.sliders:hover{
    box-shadow: 2px 5px 6px rgba(0,0,0,.1);
}
.sliders > img{
    width: 100%;
    height: 130px;
}
.sliders > h4{
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    padding-top: 5px;
    padding-left: 5px;
}
.sliders > h3{
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    padding-left: 5px;
}
.sliders > p{
    color: #f01;
    font-size: 12px;
    padding-left: 5px;
}